ul.navbar-nav .nav-item .nav-link {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px !important;
    line-height: 30px;
    text-align: right;
    color: #000000 !important;
}

button.btn.sec-btn-p {
    background: #FFB522;
    border-radius: 10px;
    color: #fff;
}

button.btn.sec-btn-p:hover {
    background: #FFB522;
    border-radius: 10px;
    color: #fff;
}

span.sec-hin-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.sec-icon-hea {
    font-size: 30px;
    color: #FFB522;
}

.sec-a-p-header {
    text-decoration: none !important;
    color: #FFB522;
}

/* slider */
.sec-slider-bg {
    background-image: url(../images/pexels-math-21393\ 1.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0;
}

.sec-slider-text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    color: #000000;

}

.sec-slider-text h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    line-height: 120px;
    color: #000000;

}

.sec-slider-text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.sec-slider-btn {
    background: #FFB930;
    padding: 15px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;

}

.owl-nav {
    display: none;
}

.owl-dots {
    position: relative;
    z-index: 10;
    margin-top: -30px;
}

.sec-list-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #000000;
    padding-top: 50px;
}

.sec-p-lis {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.sec-p-lis2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #848484;

}

/* listings */
.sec-lis-bg {
    background-image: url(../images/Group\ 28.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    min-height: 416px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-lis-bg2 {
    background-image: url(../images/Group\ 29.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    min-height: 416px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-lis-bg3 {
    background-image: url(../images/Group\ 30.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    min-height: 416px;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    justify-content: flex-end;
}

.sec-lis-pp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #FFFFFF;
    padding: 0px 5px;
    margin: 0;
}

.sec-lis-pp2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 157%;
    color: #FFFFFF;
    padding: 0px 5px;
}

.sec-let-bg {
    background-image: url(../images/Group\ 31.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 50px 80px;
}

.sec-let-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 132%;
    color: #000000;
}

.sec-let-p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #848484;

}

.sec-box-p {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 132%;
    color: #000000;


}

.sec-box-p2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #848484;
}

.rounded2 {
    border-radius: 25px;
}

.sec-sell-bg {
    background-image: url(../images/pexels-math-21393\ 2.png);
    background-repeat: no-repeat;
    background-size: cover !important;
}

.sec-slider-text22 h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 132%;
    color: #000000;

}

.sec-sellul li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 203.5%;
    color: #000000;
}

.sec-footer-bg {
    background-color: #FFB522;
    padding: 20px;
}

.sec-footer-pp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 75px;
    color: #FFFFFF;
    text-align: right;
}

.sec-btn-foot {
    background: #FFFFFF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    padding: 15px 30px;
}

.sec-footer-bg2 {
    background-color: #fff9ec;
    padding: 50px 60px;
}

.sec-footer-ab h4,
h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #000000;
}

.sec-footer-ab p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.5%;
    color: #000000;
    padding-bottom: 30px;

}

.sec-footer-ab h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    color: #000000;
}

.sec-icon-fot {
    font-weight: 400;
    font-size: 25px;
    line-height: 167%;
    letter-spacing: 0.405em;
    color: #000000;

}

.sec-foot-menu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 190%;
    color: #000000;

}

.sec-footer-get {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    color: #000000;
    padding-top: 40px;
    padding-bottom: 20px;

}

.sec-add-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 179%;
    color: #000000;
    margin: 0;
}

.sec-add-a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 179%;
    color: #000000;
}


/* about */

.sec-bg-about {
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 60px 0px;
}

.sec-abo-pp h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #000000;

}

.sec-abo-pp p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;

}

.sec-ab-2 {
    padding: 50px 0px;
}

.sec-ab-2 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #000000;
}

.sec-ab-2 p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 201.5%;
    color: #000000;

}

.sec-about-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #FFB522;
    padding: 15px 30px;
}

/* Properties */

.sec-bg-Properties {
    background-image: url(../images/Properties-bg.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0px 0px;
}

.sec-pro-pp h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #fff;

}

.sec-pro-pp p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #fff;

}

.sec-pro-event h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #000000;

}

.sec-pro-event h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 157%;
    color: #000000;

}

.sec-pro-event p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #848484;
}

.sec-pro-event a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

/* contact */


.sec-cont-pp {
    padding-left: 60px;
}

.sec-cont-pp h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    color: #000000;


}

.sec-cont-pp p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FFB522;
    padding-top: 30px;

}

.sec-btn-cont {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FFB522;
    padding: 10px 35px;
    border-radius: 0;
    margin-bottom: 30px;
}

.sec-btn-cont:hover {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: #FFB522 !important;
    padding: 10px 35px;
    border-radius: 0;
    margin-bottom: 30px;
}

.sec-cont-tp h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #000000;
}

.sec-cont-tp h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 179%;
    color: #000000;
    padding: 0;
    margin: 0;


}

.sec-cont-tp p,
a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 171.5%;
    color: #000000;
}

/* Blogs */


.sec-bg-blogs {
    background-image: url(../images/blogs-bg.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0px 0px;
}

.sec-h-blo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    color: #FFFFFF;
    padding: 100px 0px;
}

.sec-blog-sm-blog {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #848484;
    padding: 10px 0px;
}

.sec-date-m {
    margin-top: -40px;
    margin-left: -30px;
    margin-right: 30px;
}

.sec-date {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    text-align: center;
    padding: 0;
    margin: 0;

}

.sec-date-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 157%;
    color: #000000;
    text-align: center;
    padding: 0;
    margin: 0;
}

.sec-tit {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #000000;

}

.sec-a-lin:hover {
    text-decoration: none;
}

/* Blog Detail */

/* bg-1 */
.sec-blogs-1 {
    background-image: url(../images/b-d-1.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0px 0px;
}

/* bg-2 */
.sec-blogs-2 {
    background-image: url(../images/b-d-2.png);
    background-repeat: no-repeat;
    background-size: cover !important;
    padding: 0px 0px;
}

.sec-dea-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.5%;
    color: #000000;
    padding: 30px 0px;
}

.sec-dea-p2 {
    background: #FFF9EC;
    padding: 10px;
    border-left: 8px solid #FFB522;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 152.5%;
    color: #000000;
    margin-bottom: 30px;

}

.sec-dea-p3 h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 139%;
    color: #000000;

}

.sec-dea-p4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.5%;
    color: #000000;
}

.sec-borde {
    border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1;
    margin-bottom: 50px;

}

.sec-dea-p5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166.5%;
    color: #000000;
    margin: 0;
}

.sec-sun-p-name {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
    padding: 20px 0px;
    color: #000000;
}

.sec-loc-2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 194%;
    color: #000;
}

.sec-loc {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 20px;
    line-height: 194%;
}

.sec-deta-btn {
    background: #FFB522;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 15px 30px;

}

.sec-p-ddd {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 194%;
    color: #000000;
    padding: 15px 0px;
}


@media only screen and (max-width: 767px) {
    .sec-slider-text h3 {
        font-size: 100px !important;
        line-height: 100px;
    }
    .sec-slider-text h4 {
        font-size: 45px;
        line-height: 49px;
    }
    .sec-list-h {
        font-size: 36px;
        line-height: 44px;
    }
    .sec-lis-bg , .sec-lis-bg2 , .sec-lis-bg3 {
        min-height: 420px !important;
        margin-bottom: 20px;
    }
    .sec-let-bg {
        padding: 29px 28px !important;
    }
    .sec-let-p {
        font-size: 31px;
        line-height: 137%;
    }
    br {
        display: none;
    }
    .sec-slider-text22 h4 {
        font-size: 29px;
        line-height: 127%;
    }
    .sec-sellul li {
        font-size: 17px;
        line-height: 169.5%;
    }
    .sec-box-p2 {
        font-size: 16px;
        line-height: 22px;
    }
    .sec-footer-pp {
        font-size: 30px;
        line-height: 42px;
        text-align: center !important;
    }
    .sec-foot-menu {
        font-size: 19px;
        line-height: 184%;
    }
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        width: 74% !important;
    }
    a.nav-link {
        text-align: left !important;
    }
    .sec-cont-pp {
        padding-left: 20px;
    }
    .sec-cont-pp h2 {
        font-size: 24px;
        line-height: 39px;
    }
    .sec-cont-tp h2 {
        font-size: 43px;
        line-height: 79px;
    }
    
    
  }